<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2024, Inversoft Inc., All Rights Reserved
  -->
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{"MMM dd, yyyy h:mm:ss.SSS a"} %-5level %logger{50} - %X - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
